<ion-view view-title="About">
    <ion-content class="padding">
        <h3>Technologies Used</h3>
    <ul>
    	<li>Ionic</li>
    	<li>AngularJS</li>
    	<li>Cordova</li>
    	<li>HTML5</li>
    	<li>Sass/CSS3</li>
    	<li>Javascript</li>
    	<li>Ionic</li>
    </ul>

    <h3>Group Members</h3>
        <ul>
            <li>Tommy Heller</li>
            <li>Molly Fawcett</li>
            <li>Danae Berthoff</li>
        </ul>

    <h3>Summary</h3>
    <p>
    <!-- Start writing summary here -->
    This is a summary.
    <!-- Stop writing summary here -->
    </ion-content>
</ion-view>
