<ion-view view-title="About">
    <ion-content class="padding">
        <h3>Technologies Used</h3>
        <ul>
            <li>Ionic</li>
            <li>AngularJS</li>
            <li>Cordova</li>
            <li>HTML5</li>
            <li>Sass/CSS3</li>
            <li>Javascript</li>
        </ul>
        <h3>Contributers</h3>
        <ul>
            <li>Molly Fawcett</li>
            <li>Thomas Heller</li>
            <li>Danae Berthoff</li>
        </ul>

        <h3>Summary</h3>
        <p>
            <!-- Start writing summary here -->
            This project is a mobile application that implements a digital yard sale to raise funds to attend the Nation Leadership Conference (NLC) for the Future Business Leaders of America. 
            <p>Items can be viewed and donated using desktop, or mobile (IOS or Andriod).  The donated items includes a picture, price, rating, and summary information. Users are able to browse the items, donate items, and comment on each items page.  This application is a proof of concept.
            <!-- Stop writing summary here -->
    </ion-content>
</ion-view>
